* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

h1 {
  text-align: center;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  border: 3px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input {
  padding: 5px;
}

button {
  height: 2rem;
  cursor: pointer;
}
